<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Utsav Acharya</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="../static/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="../static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Utsav.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="../static/cloud.png" alt="cloud">
    <img class="mountain" src="../static/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="../static/utsav.png" alt="utsav-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am an Data Scientist and Machine Learning Engineer. I'm the founder and secretary of Together We Learn. I ❤️ working with numberic figures and mathematical expressions.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="data-img" src="../static/DataAnalysis.png" alt="Data Analysis Image-img">
        <h3>Data Analysing</h3>
        <p>I started analyzing data in my own way(making tables in sheets lol) when I was 10 watching cricket. </p>
      </div>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">
        <h3>Development</h3>
        <p>Playing video games at the young age inspired me to make my own projects.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love numbers as much as I do.</h3>
      <p class="contact-message">Love numbers as much as I do? Let's talk about how awesome they are! We can code too!</p>
      <a class="btn" href="mailto:acharya.utsav104@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.facebook.com/profile.php?id=100007249965051">Facebook</a>
    <a class="footer-link" href="https://www.instagram.com/clerisyutsav47/">Instagram</a>
    <a class="footer-link" href="https://www.linkedin.com/in/utsav-acharya-b9aa78194/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/clerisyutsav47">Twitter</a>
    <p class="copyright">© 2023 Utsav Acharya</p>
  </div>
</body>

</html>
